:root{
	--tcolor: #151515;
	--gray-dark: #5b5b5b;
	--light-gray: #989898;
	--desccolor: #616161;
	--primary: #09478a;
}
body{
	font-family: 'Fira Sans', sans-serif;
	color: var(--tcolor);
}

.header{
}
.logo{
	width: 80px;
}
button{
	display: block;
}
.x-file{
	width: 20px;
	border: none;
}
.login-info{
	color: red;
}
h1{
	color: var(--tcolor);
}
.main-title{
	margin-top: 60px;
	font-size: 42px;
}

.main-description{
	color: var(--desccolor);
	margin: 0 40px;
	font-size: 18px;
}
.main-gradient{
	background: url("../img/main-gradient.jpg") no-repeat;
	height: 80vh;
	position: relative;
}
.main-gradient>img{
	position: absolute;
	width: 30vh;
	left: -20%;
	top: 65%;
}
.main-people{

}
.myroundbtn{
	width:100px;
	height: 50px;
	color: var(--primary);
	font-weight: 900;
	font-size: 2em;
}
.myroundbtn:after{
	content: 'Участников';
	display: block;
	font-weight: normal;
	color: var(--desccolor);
	font-size: 0.7em;
}
.about_us{
	background: whitesmoke;
}
.about_us .server{

}
.about_us h2{
	letter-spacing: 0.25rem;
	font-size: 2rem;
	font-weight: 400;
	color: var(--gray-dark);
}
.about-title{
	font-weight: 400;
}
.gray-color{
	color: var(--desccolor);
}
.fillcard{
	width: 100%;
	height: 12rem;
	background: var(--primary);
}
.title-style-h2{
	letter-spacing: 0.25rem;
	font-size: 2rem;
	font-weight: 400;
	color: var(--gray-dark);
}
.lineblock{
	height: 1px;
	background: var(--light-gray);
}
.footer{
	background: whitesmoke;
}

/*FOOTER*/


.logofooter{
	background: url("./../img/logo.svg") no-repeat;
	background-size: contain;
	height: 50px;
	padding-left: 120px;
}
/*footer .myrow{*/
/*    height: 50px;*/
/*}*/
.footerico{
	margin: 0 auto;
	height: 50px;
	justify-content: space-evenly;
}
.footerico img{
	width: 30px;
}